-if params[:viewing]
  -1.upto(5) do |i|
    =image_tag("rating_#{i}.png", :class => "face-button")

=javascript_include_tag "http://js.pusher.com/1.12/pusher.min.js"
:javascript
  $(document).ready(function() {

    Pusher.log = function(message) {
      if (window.console && window.console.log) window.console.log(message);
    };

    WEB_SOCKET_DEBUG = true;
    var pusher = new Pusher('#{Pusher.key}');
    var channel = pusher.subscribe('#{@uuid}');

    // Some useful debug msgs
    pusher.connection.bind('connecting', function() {
      $('div#status').text('Connecting to Pusher...');
    });
    pusher.connection.bind('connected', function() {
      $('div#status').text('Connected to Pusher!');
    });
    pusher.connection.bind('failed', function() {
      $('div#status').text('Connection to Pusher failed :(');
    });
    channel.bind('subscription_error', function(status) {
      $('div#status').text('Pusher subscription_error');
    });
  });
