-if params[:viewing]
  #face-buttons
    -1.upto(5) do |i|
      =image_tag("rating_#{i}.png", :class => "face-button")

=javascript_include_tag "http://js.pusher.com/1.12/pusher.min.js"
:javascript
  $(document).ready(function() {
    window.UUID = "#{@uuid}"
    window.PUSHER_KEY = "#{Pusher.key}"
  });
