.root {
}

.frame {
  height: 200px;
  width: 800px !important;
  color: black;
  padding: 0.2em 0;
  margin: 0.5em;
  padding: 0.2em 0;
}

#top-frame {
  background: #00FF04;
  box-shadow: 10px 10px 5px #083009;
  color: 10px 10px 5px #083009;
  font-size: 32px;
}

#bottom-frame {
  background: #FFD034;
  box-shadow: 10px 10px 5px #FF4900;
  color: #FF4900;
  font-size: 32px;
}

